body {
    margin: 0 40px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}

code {
    background-color: whitesmoke;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

pre {
    background-color: whitesmoke;
    margin: 5px;
    padding: 10px;
    vertical-align: middle !important;
}